demo.immich.app {
	@update-config {
		method PUT
		path /api/system-config
	}

	@update-user {
		method PUT
		path /api/user
	}

	respond /api/auth/change-password 403
	respond @update-config 403
	respond @update-user 403

	reverse_proxy immich-server:3001
	log {
		output file /logs/caddy.log
	}
}
