demo.immich.app {
	@blocked-put {
		method PUT
		path /api/system-config
		path /api/users/me
		path /api/admin/users/*
		path /api/users/profile-image
		path /api/assets/*/original
		path /api/auth/change-password
	}

	@blocked-post {
		method POST
		path /api/system-config
		path /api/users/me
		path /api/admin/users/*
		path /api/users/profile-image
		path /api/assets
		path /api/auth/change-password
		path /api/notifications/test-email
		path /api/libraries
	}

	@cors_preflight method OPTIONS

	header {
		Access-Control-Allow-Origin "*"
		Access-Control-Allow-Methods "*"
		Access-Control-Allow-Headers "x-api-key, Authorization"
		Access-Control-Allow-Credentials "true"
		Vary Origin
	}

	handle @cors_preflight {
		header {
			Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE"
			Access-Control-Max-Age "3600"
		}
		respond "" 204
	}

	respond @blocked-put 403
	respond @blocked-post 403
	
	reverse_proxy immich-server:2283
	log {
		output file /logs/caddy.log
	}
}
